
  .animate-spin-slow {
    animation: spin 10s linear infinite;
  }
  @keyframes spin {
    from { transform: rotateX(0deg) rotateY(0deg); }
    to   { transform: rotateX(360deg) rotateY(360deg); }
  }

